#printed,
#printed h1,
#printed h2,
#printed h3 {
  font-family: "Times New Roman", serif;
}

#printed table {
  border-collapse: collapse;
  width: 100%;
  font-family: "Times New Roman", serif;
  font-size: 14px;
  text-align: center;
}

#printed th,
#printed td {
  border: solid 1.5px;
  text-align: center;
  padding: 0.3rem;
}

#printed .borderless td,
#printed .borderless th,
#printed .borderless h1,
#printed .borderless h2,
#printed .borderless h3 {
  border: none;
  padding: unset;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}
